<?php

// Basename of the service - no trailing slash
define(BASENAME, 'http://example.org/PuSH/server');

// PuSH Hub used to broadcast the feeds
define(PUSH_HUB, 'http://pubsubhubbub.appspot.com/');
define(PUSH_HUB_PUBLISH, 'http://pubsubhubbub.appspot.com/publisher');

// Type of feed 
// Current choices are 'rss2' or 'atom'
define(FEED, 'atom');

// Type of connection to the RDF store
// Current choices are 'ARC2' or 'SPARQL'
define(CONNECTOR, 'ARC2');

// Edit if CONNECTOR == 'SPARQL'
define(SPARQL, '');

// Edit if CONNECTOR == 'ARC2'
define(DB_HOST, 'localhost');
define(DB_NAME, '');
define(DB_USER, '');
define(DB_PASS, '');
define(DB_STORE, 'PuSH');
